spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/surest_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
server:
  port: 8989

app:
  jwt:
    secret: veryLongSecretKeyChangeThisInProd
    expiration-ms: 3600000

logging:
  level:
    root: INFO
